<!-- Begin header -->
<header data-swiftype-index='false' class="site-header app">
  <div class="row expanded">
    <div class="small-24 columns">
 <a href="http://alpha.phila.gov/" class="logo">
        <img data-interchange="[{{ site.baseurl }}/images/CityOfLongBeachLogo48inx9in300dpi.png, small], [{{ site.baseurl }}/images/CityOfLongBeachLogo48inx9in300dpi.png, medium]" src="{{ site.baseurl }}/images/CityOfLongBeachLogo48inx9in300dpi.png" alt="City of Long Beach">
      </a>
      <h1 class="site-title">longbeach.bizport.gov/styleguide</h1><td>

      </td>
      <h2 class="site-description">City of Long Beach</h2>
      <div class="page-title-container">
        <a href="{{ site.baseurl }}/">
          <h1 class="page-title">{{ site.title }}</h1>
        </a>
      </div>
    </div>
  </div>
  <div class="row expanded">
    <div class="small-24 small-centered columns">
      <div class="title-bar" data-responsive-toggle="pattern-site-nav" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle><span class="title-bar-title">Menu</span></button>
      </div>

    </div>
  </div>
</header>
