//Easily add classes to set fonts and background colors

/*
  BRIGHTS
*/

.darkest_blue { color: $darkest_blue; }
.dark_blue { color: $dark_blue; }
.medium_dark_blue { color: $medium_dark_blue; }
.long_beach_blue { color: $long_beach_blue; }
.light_blue { color: $light_blue; }

.ben-franklin-blue {
  color: $ben-franklin-blue;
}
.bell-yellow {
  color: $bell-yellow;
}
.flyers-orange {
  color: $flyers-orange;
}
.fairmount-green {
  color: $fairmount-green;
}
.ben-franklin-light {
  color: $ben-franklin-light;
}
.black {
  color: $black;
}
.white {
  color: $white;
}

.bg-darkest_blue { background: $darkest_blue; }
.bg-dark_blue { background: $dark_blue; }
.bg-medium_dark_blue { background: $medium_dark_blue; }
.bg-long_beach_blue { background: $long_beach_blue; }
.bg-light_blue { background: $light_blue; }
.bg-ben-franklin-blue {
  background: $ben-franklin-blue;
}
.bg-bell-yellow {
  background: $bell-yellow;
}
.bg-flyers-orange {
  background: $flyers-orange;
}
.bg-fairmount-green {
  background: $fairmount-green;
}
.bg-ben-franklin-light {
  background: $ben-franklin-light;
}
.bg-black {
  background: $black;
}
.bg-white {
  background: $white;
}
/*
  GRAYS
*/
.dark-gray{
  color: $dark-gray;
}
.medium-gray{
  color: $medium-gray;
}
.ghost-gray {
  color: $ghost-gray;
}
.sidewalk {
  color: $sidewalk;
}
.bg-gray {
  background: $grey;
}
.bg-dark-gray{
  background: $dark-gray;
}
.bg-medium-gray{
  background: $medium-gray;
}
.bg-light-gray{
  background: $light_grey;
}
.bg-extra-light-gray {
  background: $extra_light_grey;
}
.bg-ghost-gray {
  background: $ghost-gray;
}
.bg-sidewalk {
  background: $sidewalk;
}

/*
OTHER
*/
.bg-red {
  background: $red;
}
