/*
  BRIGHTS
*/
$darkest_blue: #08508A;
$dark_blue: #136194;
$medium_dark_blue: #167FAB;
$long_beach_blue: #17B9D9;
$light_blue: #8CDCEC;

$ben-franklin-blue: #2176d2; //primary
$bell-yellow: #f2c612; //secondary
$flyers-orange: #f99300;
$fairmount-green: #58c04d;
$ben-franklin-light: #96c9ff;

$black: #000000;
$white: #ffffff;

/*
  GRAYS
*/
$dark_grey: #333333;
$medium_dark_grey: #54595C;
$grey: #778187;
$light_grey: #9AA1A6;
$extra_light_grey: #C8CDCE;

$dark-gray: #444;
$medium-gray: #a1a1a1;
$ghost-gray: #f0f0f0;
$sidewalk: #cfcfcf;

/*
  OTHER
*/
$red: #C50000;

/*
  SPACES
*/
$spacing-none: 0;
$spacing-extra-small: .25rem;
$spacing-small: .5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-extra: 4rem;
$spacing-extra-large: 6rem;
$spacing-extra-extra-large: 10rem;
